body{

}

.header {
    margin: 0 0 0 0;
    width: 1170px;
}

.wrapper {
  display: table;
    width: 100%;
    height: 10%;
    padding: 25px 50px;
}

.logo img{
  position: absolute;
  height: 26px;
  width: 180px;
 }

.cover {
  width: 100%;
  height: 95%;
}

#video{
  background-color: red;
  position: relative;
  margin: auto;
  margin-top: 5%;
  width: 600px;
  height:600px;

}

.intro-big {
margin-bottom: 120px;
width: 100%;
/*font-family: 'Circular-book';*/
/*max-width: 800px;*/
text-align: center;
font-size: 42px;
line-height: 1.5;
}

.quote {
max-width: 930px;
padding: 0 25px;
margin: 0 auto 90px;
display: block;
font-size: 36px;
text-align: center;
}

.text{
  font-style: italic;
position: relative;
padding-right: 30px;
}

.sharer {
position: absolute;
bottom: 0;
right: 0;
}

.author span{
  color: #D8D8D8;
  opacity: .9;
}
