body{

}
#titolo{
  background-color: white;
  font-size:72;
  font-family: sans-serif;
  color:black;
  position:absolute;
  left:8%;
  top:10%;
 }
#box{
  position:relative;
  width:15%;
  height:20%;
  background-color: white;
  left:75%;
  top:4%;
  z-index: 1;
}
#dida{
  color:black;
  text-align: justify;
  font-family:monospace;
}

#video{
  background-color: red;
  position: relative;
  width: 70%;
  height:50%;
  left:15%;
  top:0%;
}
